// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}

.itemAddedNote{
    display:inline-block;
    display: none;
    margin-left: 25px;
    color: #5B86E3;

}